html {scroll-snap-type: y mandatory}

main {
    text-align: center;
}

article {
    height: 100vh;
    word-break-inside: 100vw;
    scroll-snap-align: start;
}

article#a1 {
    background: #99decf;
}

article#a2 {
    background: #e5c6e2;
}

article#a3 {
    background: #f1e6b7;
}


